.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 50vw;
  margin: 15vh auto 10vh;

  ion-icon {
    font-size: 14vw;
  }

  .text {
    font-family: "OpenSans", sans-serif;
    font-weight: 900;
    font-size: 6vw;
    color: white;
    margin-left: 10px;
    width: 25vw;
    &.blue {
      color: #37568F;
    }
  }
}

.signature {
  max-width: 70vw;
  margin: 0 auto 7vh;
  font-family: 'OpenSans', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.02em;
  color: white;
  &.gray {
    color: rgba(60, 60, 67, 0.6);
  }
}

.login-form {
  width: 90%;
  background-color: white;
  margin: 0 auto;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  z-index: 10;
  padding: 5vw;

  h1, p {
    margin: 0;
  }

  h1 {
    font-family: 'OpenSans', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 25px;
    color: #444444;
  }

  span {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    color: #828282;
    margin-top: 1vw;
  }

  &__input {
    position: relative;
    ion-input {
      font-family: 'OpenSans', sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 19px;
      --placeholder-color: #9E9E9E;
      background-color: #F6F6F6;
      margin: 5vw 0;
      box-shadow: 0px 0px 0px rgba(60, 60, 60, 0.25);
      border-radius: 5px;
      height: 52px;
      input {
        --padding-bottom: 4vw;
        --padding-top: 4vw;
        --padding-start: 2vw;
        --padding-end: 2vw;
      }
    }
    ion-icon {
      position: absolute;
      right: 20px;
      top: 16px;
      font-size: 6vw;
      z-index: 15;
      color: #BDBDBD;
    }
  }

  p {
    font-family: 'OpenSans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.02em;
    margin: 0 auto 2vw;
    color: #007AFF;
  }
}

.login-btn {
  margin: 5vh auto 0;
}