@font-face {
  src: url("src/assets/fonts/OpenSans/OpenSans-SemiBold.ttf");
  font-family: 'OpenSans';
  font-weight: 700;
}

@font-face {
  src: url("src/assets/fonts/OpenSans/OpenSans-Regular.ttf");
  font-family: 'OpenSans';
  font-weight: 500;
}

@font-face {
  src: url("src/assets/fonts/OpenSans/OpenSans-Light.ttf");
  font-family: 'OpenSans';
  font-weight: 100;
}
