<ion-content>
    <div class="details-wrapper">
        <div class="toolbar">
            <ion-icon (click)="location.back()" name="arrow-back"></ion-icon>
            <div class="row-center">
                <ion-icon src="assets/icons/share.svg"></ion-icon>
                <ion-icon name="ellipsis-vertical"></ion-icon>
            </div>
        </div>
        <div class="dream-block">
            <div class="dream-block__header">
                <div class="authoring-container">
                    <ion-avatar class="authoring-container__avatar">
                        <ion-img src="assets/images/man.jpg"></ion-img>
                    </ion-avatar>
                    <div class="info">
                        <div class="info__name">Johnny Snowden
                            <ion-icon src="assets/icons/confirmed.svg"></ion-icon>
                        </div>
                        <div class="info__time">Product Manager</div>
                    </div>
                </div>
                <ion-button fill="outline" mode="ios" size="small">Follow</ion-button>
            </div>
            <h2 class="dream-block__title">
                Become the king of Winterfell
            </h2>
            <p class="dream-block__time">Saturday, 12 Feb 2019</p>
            <div class="dream-block__photo">
                <img src="assets/images/winter.jpg">
            </div>
            <p class="dream-block__description">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus animi at culpa doloremque molestiae
                perspiciatis provident sint tempora. Ab beatae doloremque earum, eius facere fugiat ipsam laboriosam
                necessitatibus ratione saepe sit velit voluptatum! Dicta eius error eveniet fugiat inventore ipsa
                voluptate.
                Deleniti hic illum ipsam. Ad autem dignissimos distinctio excepturi, nisi qui vel. Adipisci, dicta
                facere
                fuga fugiat officiis quia sunt vero voluptate? Minima molestiae quam rem tempora vero. Deleniti
                distinctio
                earum enim eos fugiat inventore laboriosam, mollitia reprehenderit repudiandae velit! Aliquid,
                blanditiis
                cumque dicta dignissimos doloribus et ex explicabo facere facilis impedit in ipsam magnam mollitia natus
                obcaecati odit officia omnis quam quas qui quisquam quos repellat suscipit temporibus unde vero,
                voluptatibus! Ab accusantium consequatur dignissimos doloremque eligendi, enim error ex fugit harum
                labore
                officia possimus quam quis recusandae soluta tempore veniam! Consequatur est ipsum nihil nulla? Amet
                delectus molestias obcaecati placeat suscipit. Hic impedit provident sunt vero? Eos?
            </p>
            <h2 class="tags-title">
                Tags
            </h2>
            <div class="tags-list">
                <div class="tag">dream</div>
                <div class="tag">dream</div>
                <div class="tag">dream</div>
                <div class="tag">dream</div>
                <div class="tag">dream</div>
                <div class="tag">dream</div>
                <div class="tag">dream</div>
                <div class="tag">dream</div>
                <div class="tag">dream</div>
                <div class="tag">dream</div>
                <div class="tag">dream</div>
                <div class="tag">dream</div>
                <div class="tag">dream</div>
            </div>
        </div>
    </div>
    <div class="divider"></div>
    <div class="details-wrapper">
        <h2 class="more-title">
            More from Randall
        </h2>
        <div class="more-block">
            <div class="title">
                Lorem ipsum dolor sit amet.
            </div>
            <div class="description">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam aut deserunt dignissimos eligendi,
                enim explicabo illum impedit molestiae molestias nemo, nobis reiciendis voluptate voluptatem. Adipisci
                cupiditate dicta et eveniet in, ipsam labore nisi nobis odio ratione tempora unde, vitae, voluptates!
            </div>
        </div>
        <div class="more-block">
            <div class="title">
                Lorem ipsum dolor sit amet.
            </div>
            <div class="description">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam aut deserunt dignissimos eligendi,
                enim explicabo illum impedit molestiae molestias nemo, nobis reiciendis voluptate voluptatem. Adipisci
                cupiditate dicta et eveniet in, ipsam labore nisi nobis odio ratione tempora unde, vitae, voluptates!
            </div>
        </div>
        <div class="more-block">
            <div class="title">
                Lorem ipsum dolor sit amet.
            </div>
            <div class="description">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam aut deserunt dignissimos eligendi,
                enim explicabo illum impedit molestiae molestias nemo, nobis reiciendis voluptate voluptatem. Adipisci
                cupiditate dicta et eveniet in, ipsam labore nisi nobis odio ratione tempora unde, vitae, voluptates!
            </div>
        </div>
    </div>
    <div class="divider"></div>
    <div class="details-wrapper">
        <h2 class="comments-title">
            See more comments
        </h2>
        <div class="comment">
            <ion-avatar>
                <ion-img src="assets/images/man.jpg"></ion-img>
            </ion-avatar>
            <div class="another-info">
                <div class="text">
                    <p class="author-name">Alex Johanson</p>
                    <p>Very awesome!!</p>
                </div>
                <div class="actions">
                    <p class="time">1 day ago</p>
                    <ion-icon src="assets/icons/likes.svg"></ion-icon>
                    <p>Reply</p>
                </div>
            </div>
        </div>
        <div class="comment">
            <ion-avatar>
                <ion-img src="assets/images/man.jpg"></ion-img>
            </ion-avatar>
            <div class="another-info">
                <div class="text">
                    <p class="author-name">Alex Johanson</p>
                    <p>Very awesome!!</p>
                </div>
                <div class="actions">
                    <p class="time">1 day ago</p>
                    <ion-icon src="assets/icons/likes.svg"></ion-icon>
                    <p>Reply</p>
                </div>
            </div>
        </div>
        <div class="comment">
            <ion-avatar>
                <ion-img src="assets/images/man.jpg"></ion-img>
            </ion-avatar>
            <div class="another-info">
                <div class="text">
                    <p class="author-name">Alex Johanson</p>
                    <p>Very awesome!!</p>
                </div>
                <div class="actions">
                    <p class="time">1 day ago</p>
                    <ion-icon src="assets/icons/likes.svg"></ion-icon>
                    <p>Reply</p>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="comment-input">
            <ion-avatar>
                <ion-img src="assets/images/man.jpg"></ion-img>
            </ion-avatar>
            <ion-input placeholder="Add your comment"></ion-input>
            <ion-icon src="assets/icons/send.svg"></ion-icon>
        </div>
        <div class="counts">
            <div class="counts__item">
                <ion-icon src="assets/icons/comments.svg"></ion-icon>
                <ion-text>100</ion-text>
            </div>
            <div class="counts__item">
                <ion-icon src="assets/icons/likes.svg"></ion-icon>
                <ion-text>100</ion-text>
            </div>
            <div class="counts__item">
                <ion-icon src="assets/icons/favorites.svg"></ion-icon>
            </div>
        </div>
    </div>
</ion-content>