.details-wrapper {
  padding: 5vw;

  .authoring-container {
    &__avatar {
      width: 15vw;
      height: 15vw;
    }
    .info__name {
      font-size: 16px;
    }
    .info__time {
      font-size: 12px;
      line-height: 16px;
      margin-top: 5px;
    }
  }

  .toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    ion-icon {
      color: #828282;
      font-size: 6vw;
    }

    .row-center {
      ion-icon {
        margin-left: 15px;
        font-size: 5vw;
      }
    }
  }

  .dream-block {
    display: flex;
    flex-direction: column;
    margin-top: 10vw;

    &__header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }

    &__title {
      font-family: "OpenSans", sans-serif;
      font-weight: 900;
      font-size: 18px;
      line-height: 24px;
      letter-spacing: 0.02em;
      color: #333333;
      margin: 7vw 0 0.5vw;
    }

    &__time {
      font-family: "OpenSans", sans-serif;
      font-size: 12px;
      line-height: 16px;
      letter-spacing: 0.02em;
      color: #828282;
      margin: 0 0 4vw;
    }

    &__photo {
      img {
        border-radius: 6px;
        max-height: 120px;
        width: 100%;
        object-fit: cover;
      }
    }

    &__description {
      font-family: "OpenSans", sans-serif;
      font-size: 14px;
      line-height: 24px;
      letter-spacing: 0.02em;
      color: #828282;
      padding: 5vw 0;
      border-bottom: 1px solid #E0E0E0;
    }

    .tags-list {
      display: flex;
      flex-wrap: wrap;
      margin-top: 5vw;

      .tag {
        margin-right: 2vw;
        margin-bottom: 2vw;
        font-family: "OpenSans", sans-serif;
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 0.02em;
        color: #828282;
      }
    }
  }
}

.divider {
  height: 5px;
  width: 100%;
  background-color: #F2F2F2;
}

.more-title, .tags-title {
  font-family: "OpenSans", sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #828282;
  margin-top: 0;
  margin-bottom: 8vw;
}

.tags-title {
  color: black;
  margin: 4vw 0 2vw;
  font-size: 16px;
}

.more-block {
  font-family: "OpenSans", sans-serif;
  margin-bottom: 8vw;

  .title {
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.02em;
    color: #333333;
    margin-bottom: 10px;
  }

  .description {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.02em;
    color: #828282;
  }
}

.comments-title {
  font-family: "OpenSans", sans-serif;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #37568F;
  margin-top: 0;
  margin-bottom: 8vw;
}

.comment {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 5vw;

  ion-avatar {
    width: 12vw;
    height: 12vw;
    margin-right: 10px;
  }

  .another-info {
    display: flex;
    flex-direction: column;

    p {
      margin: 0;
    }

    .text {
      display: flex;
      justify-content: flex-start;
      flex-direction: row;
      align-items: center;

      .author-name, p {
        font-size: 14px;
        line-height: 19px;
        letter-spacing: 0.02em;
      }

      .author-name {
        text-decoration-line: underline;
        color: #37568F;
        margin-right: 10px;
      }
    }

    .actions {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-direction: row;
      margin-top: 10px;

      p, ion-icon {
        margin-right: 15px;
        color: #828282;
      }

      p {
        font-family: "OpenSans", sans-serif;
        font-size: 12px;
        line-height: 16px;
      }
    }
  }
}

.footer {
  background-color: #37568F;

  .comment-input {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    padding: 5vw;

    ion-avatar {
      width: 8vw;
      height: 8vw;
      margin-right: 3vw;
    }

    ion-input {
      width: 70vw;
      color: white;
      font-size: 12px;
      line-height: 16px;
      --placeholder-color: white;
    }

    ion-icon {
      margin-left: 2vw;
      font-size: 6vw;
    }
  }

  .counts {
    justify-content: flex-end;
    padding-bottom: 5vw;
    &__item {
      ion-icon, ion-text {
        color: white;
      }
      ion-icon {
        font-size: 5vw;
      }
    }
  }
}