.dream-card {
  width: 90vw;
  margin: 5vw auto;
  border-radius: 8px;
  box-shadow: 1px 4px 12px rgba(117, 117, 117, 0.1);

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 5vw;

    .more {
      color: #828282;
      font-size: 6vw;
    }
  }

  &__photo {
    padding: 0 5vw;

    img {
      border-radius: 6px;
      max-height: 120px;
      width: 100%;
      object-fit: cover;
    }
  }
  .content {
    padding: 0 5vw;
    font-family: 'OpenSans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    &__title {
      padding: 2vw 0;
      color: #333333;
    }
    &__description {
      font-size: 12px;
      line-height: 18px;
      color: #828282;
      font-weight: 400;
    }
  }
  .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5vw 5vw;
  }
}
