<div class="dream-card" (click)="toDetails()">
    <div class="dream-card__header">
        <div class="authoring-container">
            <ion-avatar class="authoring-container__avatar">
                <ion-img [src]="dream.author.avatar"></ion-img>
            </ion-avatar>
            <div class="info">
                <div class="info__name">{{dream.author.name}}
                    <ion-icon *ngIf="dream.author.isConfirmed" src="assets/icons/confirmed.svg"></ion-icon></div>
                <div class="info__time">{{dream.createdAt}}</div>
            </div>
        </div>
        <ion-icon class="more" name="ellipsis-vertical"></ion-icon>
    </div>
    <div class="dream-card__photo">
        <img [src]="dream.photo">
    </div>
    <div class="content">
        <div class="content__title">{{dream.title}}</div>
        <div class="content__description">{{dream.description}}</div>
    </div>
    <div class="footer">
        <div class="counts">
            <div class="counts__item">
                <ion-icon src="assets/icons/comments.svg"></ion-icon>
                <ion-text>{{dream.commentsCount}}</ion-text>
            </div>
            <div class="counts__item fs-4-3">
                <ion-icon src="assets/icons/likes.svg"></ion-icon>
                <ion-text>{{dream.likesCount}}</ion-text>
            </div>
            <div class="counts__item fs-3-7">
                <ion-icon src="assets/icons/shared.svg"></ion-icon>
                <ion-text>{{dream.sharedCount}}</ion-text>
            </div>
        </div>
        <ion-icon class="favorite" src="assets/icons/favorites.svg"></ion-icon>
    </div>
</div>
