<ion-content fullscreen>
    <div class="board-header">
        <div class="board-header__title">
            <h1>Dream Board</h1>
            <img src="assets/icons/search.svg">
        </div>
        <ion-segment class="tabs" [value]="tabsConfig[0].label">
            <ion-segment-button *ngFor="let dream of tabsConfig"
                                class="tabs__item"
                                [value]="dream.label">
                <ion-label>{{dream.label}}</ion-label>
            </ion-segment-button>
        </ion-segment>
    </div>
    <app-dreams-list [dreams]="dreams"></app-dreams-list>
</ion-content>
