.board-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background: linear-gradient(360deg, #5A89C6 -56.98%, #253C73 99.62%);
  padding-top: var(--ion-safe-area-top);
  &__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 100%;
    margin: 9vw 0 5vw;
    padding: 0 5vw;
    h1 {
      margin: 0;
      color: white;
      font-family: 'OpenSans', sans-serif;
      font-style: normal;
      font-weight: 700;
      font-size: 24px;
      line-height: 33px;
    }
  }
  .tabs {
    padding: 0 10vw;
    &__item {
      display: flex;
      justify-content: center;
      align-items: center;
      text-transform: capitalize;
      --indicator-color: #F0971E;
      --indicator-height: 4px;
      min-width: auto;
      width: 15vw;
      --ripple-color: transparent;
      ion-label {
        font-family: 'OpenSans', sans-serif;
        font-weight: 100;
        font-size: 3vw;
        line-height: 16px;
        color: white;
      }
    }
  }
}
