<ion-content>
    <div class="info-header">
        <div class="toolbar">
            <ion-icon (click)="location.back()" name="arrow-back"></ion-icon>
            <ion-icon name="ellipsis-vertical"></ion-icon>
        </div>
        <div class="general-info">
            <ion-avatar class="general-info__avatar">
                <ion-img src="assets/images/man.jpg"></ion-img>
            </ion-avatar>
            <div class="general-info__contact-data">
                <h1>Randall Steward</h1>
                <p>randal96@gmail.com</p>
            </div>
            <div class="stats">
                <div class="stats__item">
                    <h1>32</h1>
                    <p>Journal</p>
                </div>
                <div class="stats__item">
                    <h1>12K</h1>
                    <p>Followers</p>
                </div>
                <div class="stats__item">
                    <h1>450</h1>
                    <p>Following</p>
                </div>
            </div>
        </div>
    </div>
    <div class="settings-block">
        <div class="setting">
            <ion-icon src="assets/icons/book.svg"></ion-icon>
            <div class="setting-info">
                <div class="signatures">
                    <h1>My Journal</h1>
                    <p>32 Dream Journals</p>
                </div>
                <ion-icon name="chevron-forward"></ion-icon>
            </div>
        </div>
        <div class="setting">
            <ion-icon src="assets/icons/saved.svg"></ion-icon>
            <div class="setting-info">
                <div class="signatures">
                    <h1>Saved Journals</h1>
                    <p>View saved journals</p>
                </div>
                <ion-icon name="chevron-forward"></ion-icon>
            </div>
        </div>
    </div>

    <div class="settings-block">
        <div class="setting">
            <ion-icon src="assets/icons/about_us.svg"></ion-icon>
            <div class="setting-info">
                <div class="signatures">
                    <h1>About Us</h1>
                    <p>All about Dream Journal</p>
                </div>
                <ion-icon name="chevron-forward"></ion-icon>
            </div>
        </div>
        <div class="setting">
            <ion-icon src="assets/icons/help.svg"></ion-icon>
            <div class="setting-info">
                <div class="signatures">
                    <h1>Help</h1>
                    <p>Find all help here</p>
                </div>
                <ion-icon name="chevron-forward"></ion-icon>
            </div>
        </div>
        <div class="setting">
            <ion-icon src="assets/icons/terms.svg"></ion-icon>
            <div class="setting-info">
                <div class="signatures">
                    <h1>Terms & Conditions</h1>
                </div>
                <ion-icon name="chevron-forward"></ion-icon>
            </div>
        </div>
        <div class="setting">
            <ion-icon src="assets/icons/settings.svg"></ion-icon>
            <div class="setting-info">
                <div class="signatures">
                    <h1>Other Settings</h1>
                </div>
                <ion-icon name="chevron-forward"></ion-icon>
            </div>
        </div>
    </div>
    <div class="settings-block">
        <div class="setting" (click)="logOut()">
            <ion-icon src="assets/icons/logout.svg"></ion-icon>
            <div class="setting-info">
                <div class="signatures">
                    <h1>Log Out</h1>
                    <p>Keluar dari akun Anda</p>
                </div>
                <ion-icon name="chevron-forward"></ion-icon>
            </div>
        </div>
    </div>
</ion-content>
