.info-header {
  background: linear-gradient(0deg, #5A89C6 -22.72%, #253C73 99.62%);
  min-height: 60vw;
  position: relative;
  margin-bottom: 27vw;
  .toolbar {
    padding: 5vw 5vw 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    ion-icon {
      color: white;
      font-size: 8vw;
    }
  }
  .general-info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 90vw;
    margin: 0 auto;
    background-color: white;
    box-shadow: 0px 2px 5px rgba(28, 31, 34, 0.15);
    border-radius: 8px;
    position: absolute;
    left: auto;
    right: 5vw;
    bottom: -22vw;
    &__avatar {
      margin-top: -9vw;
    }
    &__contact-data {
      margin-top: 3vw;
      font-family: 'OpenSans', sans-serif;
      h1 {
        margin: 0;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 16px;
        text-align: center;
      }
      p {
        margin: 2vw 0 0;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 16px;
        text-align: center;
        letter-spacing: 0.02em;
        color: #828282;
      }
    }
    .stats {
      width: 100%;
      padding: 0 10vw;
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 5vw 0;
      &__item {
        h1, p {
          text-align: center;
          font-family: 'OpenSans', sans-serif;
          margin: 0;
        }
        h1 {
          font-style: normal;
          font-weight: 900;
          font-size: 20px;
          line-height: 24px;
          letter-spacing: 0.02em;
        }
        p {
          margin-top: 2vw;
          font-style: normal;
          font-weight: normal;
          font-size: 12px;
          line-height: 16px;
          text-align: center;
          letter-spacing: 0.02em;
          color: #828282;
        }
      }
    }
  }
}

.settings-block {
  width: 90vw;
  margin: 5vw auto;
  background: #FFFFFF;
  box-shadow: 0px 2px 12px rgba(110, 110, 110, 0.2);
  border-radius: 8px;
  .setting {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 5vw 5vw 0;
    ion-icon {
      font-size: 6.5vw;
      padding-bottom: 5vw;
      width: 10vw;
    }
    .setting-info {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: row;
      width: 100%;
      margin-left: 4vw;
      border-bottom: 1px solid #F2F2F2;
      padding-bottom: 5vw;
      ion-icon {
        font-size: 5vw;
        color: #BDBDBD;
        padding-bottom: 0;
      }
      .signatures {
        letter-spacing: 0.02em;
        font-style: normal;
        h1, p {
          margin: 0;
        }
        h1 {
          font-family: 'OpenSans', sans-serif;
          font-weight: 600;
          font-size: 12px;
          line-height: 16px;
          color: #444444;
        }
        p  {
          margin-top: 1.5vw;
          font-weight: normal;
          font-size: 10px;
          line-height: 13px;
          color: #828282;
        }
      }
    }
    &:last-child {
      .setting-info {
        border: none;
      }
    }
  }
}
