.dream-wrapper {
  --padding-end: 5vw;
  --padding-start: 5vw;
  --padding-top: 5vw;
  --padding-bottom: 5vw;

  &__title {
    font-family: 'OpenSans', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 7vw;
    line-height: 36px;
    letter-spacing: 0.02em;
    max-width: 65vw;
  }

  .upload-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    border: 1px dashed #BDBDBD;
    height: 40vw;
    margin: 8vw 0 0;
    ion-img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    .upload-block {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      ion-icon {
        font-size: 16vw;
      }

      h2, p {
        font-family: 'OpenSans', sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 16px;
        text-align: center;
        letter-spacing: 0.02em;
        color: #333333;
        margin: 0 0 5px;
      }

      p {
        font-size: 12px;
        color: #828282;
      }
    }
  }

  .form-input {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    margin: 8vw 0;
    .row-between {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      margin-bottom: 10px;
      label {
        margin: 0;
      }
    }
    label {
      display: flex;
      align-items: center;
      font-family: 'OpenSans', sans-serif;
      font-size: 14px;
      line-height: 19px;
      letter-spacing: 0.02em;
      margin-bottom: 10px;
      ion-icon {
        margin: 0 5px;
      }
    }
    input, ion-select, ion-textarea{
      width: 100%;
      border: 1px solid #BDBDBD;
      border-radius: 8px;
      padding: 4vw;
      outline: none;
      resize:none;
      &.tags-input {
        border:none;
        border: {
          bottom: 1px solid #BDBDBD;
        }
        border-radius: 0;
      }
    }
  }
  .toggle-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5vw 0;
    ion-toggle {
      width: 30px;
      height: 15px;
      --handle-height: 10px;
      --handle-width: 10px;
      --background:  #828282;
    }
  }
  .dream-btn {
    text-transform: capitalize;
  }
}