<ion-content class="dream-wrapper">
    <ion-icon (click)="goToHome()" class="close-button" name="close-outline"></ion-icon>
    <h2 class="dream-wrapper__title">What are you dreaming about?</h2>
    <div class="upload-wrapper">
        <ion-img *ngIf="image" [src]="image"></ion-img>
        <div *ngIf="!image" class="upload-block" (click)="getPhoto()">
            <ion-icon src="assets/icons/upload.svg"></ion-icon>
            <h2>Add image</h2>
            <p>(max size: 10mb)</p>
        </div>
    </div>
    <div class="form-input">
        <label for="title">Add a title</label>
        <input id="title" type="text" placeholder="Write something">
    </div>
    <div class="form-input">
        <label for="category">
            Category
            <ion-icon src="assets/icons/info.svg"></ion-icon>
        </label>
        <ion-select id="category" placeholder="Choose category" cancelText="Cancel" okText="Confirm">
            <ion-select-option value="first">First Category</ion-select-option>
            <ion-select-option value="second">Second Category</ion-select-option>
        </ion-select>
    </div>
    <div class="form-input">
        <div class="row-between">
            <label for="description">
                Description
                <ion-icon src="assets/icons/info.svg"></ion-icon>
            </label>
            <ion-icon (click)="toEditor()" name="create-outline"></ion-icon>
        </div>
        <ion-textarea maxlength="100" rows="5" placeholder="Write something" id="description"></ion-textarea>
    </div>
    <div class="form-input">
        <label for="tags">
            Tags
            <ion-icon src="assets/icons/info.svg"></ion-icon>
        </label>
        <input class="tags-input" id="tags" type="text" placeholder="Separate tags with commas or space">
    </div>
    <div class="toggle-block">
        <p>Close comments</p>
        <ion-toggle mode="ios"></ion-toggle>
    </div>
    <ion-button (click)="location.back()" class="custom-btn dream-btn">
        Post My Dream
    </ion-button>
</ion-content>