<ion-content>
    <div class="register-wrapper">
        <div class="logo">
            <ion-icon src="assets/icons/logo.svg"></ion-icon>
            <div class="text blue">Dream Journal</div>
        </div>
        <div class="signature gray">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit
        </div>
        <form [formGroup]="registerForm" (ngSubmit)="signUp()">
            <div class="register-form">
                <ion-input class="register-form__input"
                           placeholder="Name"
                           formControlName="name"></ion-input>
                <ion-input class="register-form__input"
                           placeholder="Email"
                           formControlName="email"></ion-input>
                <ion-input class="register-form__input"
                           placeholder="Password"
                           formControlName="password"
                           type="password"></ion-input>
                <div class="links">
                    <ion-checkbox></ion-checkbox>
                    <p>I agree with our <span>Terms</span> and <span>Conditions</span></p>
                </div>
            </div>
            <ion-button (click)="signUp()" class="custom-btn login-btn">
                Create account
            </ion-button>
            <div class="links bottom">
                <p>Already have an account ? <span routerLink="/auth/sign-in">Sign in</span></p>
            </div>
        </form>
    </div>
</ion-content>