.register-wrapper {
  padding: 0 5vw;

  .logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 50vw;
    margin: 15vh auto 10vh;

    ion-icon {
      font-size: 14vw;
    }

    .text {
      font-family: "OpenSans", sans-serif;
      font-weight: 900;
      font-size: 6vw;
      color: #37568F;
      margin-left: 10px;
      width: 25vw;
    }
  }

  .register-form {
    &__input {
      border: {
        bottom: 0.5px solid rgba(60, 60, 67, 0.3);
      };
      --padding-bottom: 5vw;
      --padding-top: 5vw;
      font-size: 5vw;
      line-height: 22px;
      letter-spacing: -0.408px;
      font-family: "OpenSans", sans-serif;
    }
  }

  .links {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-top: 2vh;
    font-style: normal;
    font-weight: normal;
    font-size: 3.5vw;
    line-height: 18px;
    font-family: "OpenSans", sans-serif;
    letter-spacing: -0.078px;
    color: rgba(60, 60, 67, 0.6);
    padding-left: 1vw;

    &.bottom {
      font-size: 4vw;
      justify-content: center;
      p {
        margin-left: 0;
      }
    }

    p {
      margin-left: 5px;

      span {
        color: #007AFF;
        font-weight: bold;
      }
    }
  }
}