.tabs-wrapper {
  .tab-bar {
    --border: none;
    --background: #EFEFEF;
    contain: none;
    padding: 0 5vw;
    z-index: 100;
    &__button {
      position: relative;
      --color: #BDBDBD;
      --color-selected: #37568F;
      --padding-start: 0;
      --padding-end: 0;
      padding: 0;
      ion-icon {
        font-size: 6vw;
      }
      &.little-icon {
        ion-icon {
          font-size: 5.5vw;
        }
      }
    }
    &__middle-btn {
      height: 25vw;
      width: 25vw;
      margin-top: -30px;
      font-size: 15vw;
      background: transparent;
      --ripple-color: transparent;
      .icon {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 16vw;
        height: 16vw;
        border-radius: 100%;
        background: #37568F;
        box-shadow: 0 2px 1px rgba(55, 86, 143, 0.11),
        0 4px 2px rgba(55, 86, 143, 0.11),
        0 8px 4px rgba(55, 86, 143, 0.11),
        0 16px 8px rgba(55, 86, 143, 0.11),
        0 32px 16px rgba(55, 86, 143, 0.11);
        ion-img {
          width: 6vw;
        }
      }
    }
  }
}
