<ion-content scrollY="false" class="tabs-wrapper">
    <ion-tabs>
        <ion-tab-bar class="tab-bar" slot="bottom">
            <ion-tab-button class="tab-bar__button little-icon" tab="home">
                <ion-icon src="assets/icons/home.svg"></ion-icon>
            </ion-tab-button>

            <ion-tab-button class="tab-bar__button" tab="notifications">
                <ion-icon src="assets/icons/notify.svg"></ion-icon>
            </ion-tab-button>

            <ion-tab-button class="tab-bar__middle-btn" tab="new-dream">
                <div class="icon">
                    <ion-img src="assets/icons/plus.svg"></ion-img>
                </div>
            </ion-tab-button>

            <ion-tab-button class="tab-bar__button" tab="favorites">
                <ion-icon src="assets/icons/likes_tab.svg"></ion-icon>
            </ion-tab-button>

            <ion-tab-button class="tab-bar__button little-icon" tab="account">
                <ion-icon src="assets/icons/profile.svg"></ion-icon>
            </ion-tab-button>
        </ion-tab-bar>
    </ion-tabs>
</ion-content>
