/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";
@import "assets/fonts/fonts";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

.native-textarea {
  padding: 0!important;
}

.close-button {
  font-size: 7vw;
  color: #828282;
}

.custom-btn {
  width: 90vw;
  min-height: 52px;
  z-index: 10;
  --background: #F0971E;
  border-radius: 8px;
  box-shadow: 0 2px 1px rgba(240, 151, 30, 0.11);
}

.editor-alert {
  .alert-button {
    text-transform: uppercase;
    font-family: "OpenSans", sans-serif;
    font-size: 3.5vw!important;
    font-weight: 900;
    &.cancel-text {
      color: #828282!important;
    }
    &.confirm-text {
      color: #37568F!important;
    }
  }
}

.row-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.authoring-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;

  &__avatar {
    width: 10vw;
    height: 10vw;
  }

  .info {
    font-family: 'OpenSans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    color: #444444;
    margin-left: 4vw;

    &__name {
      display: flex;
      justify-content: center;
      align-items: center;

      ion-icon {
        margin-left: 1vw;
      }
    }

    &__time {
      font-weight: normal;
      font-size: 10px;
      line-height: 14px;
      color: #828282;
    }
  }
}

.counts {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5vw;
    &.fs-4-3 {
      font-size: 4.3vw;
    }
    &.fs-3-7 {
      font-size: 3.7vw;
    }
    ion-icon {
      font-size: 4vw;
      margin-right: 2vw;
      color: #828282;
    }
    ion-text {
      font-family: 'OpenSans', sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 10px;
      line-height: 14px;
      color: #828282;
    }
  }
}

