.auth-wrapper {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background: linear-gradient(0deg, #5A89C6 -22.72%, #253C73 99.62%);
  height: 100vh;

  .white-half {
    position: absolute;
    bottom: 0;
    height: 40vh;
    width: 100%;
    background: white;

    &:after {
      content: '';
      position: absolute;
      top: -45px;
      width: 0;
      height: 0;
      right: auto;
      border-style: solid;
      border-width: 50px 0 0 70vw;
      border-color: transparent transparent transparent white;
    }

    &:before {
      content: '';
      position: absolute;
      top: -45px;
      width: 0;
      height: 0;
      right: 0;
      border-style: solid;
      border-width: 0 0 50px 70vw;
      border-color: transparent transparent white transparent;
    }
  }
}
