<ion-content>
    <div class="auth-wrapper">
        <div class="logo">
            <ion-icon src="assets/icons/logo_white.svg"></ion-icon>
            <div class="text">Dream Journal</div>
        </div>
        <div class="signature">
            It’s an easy way for you to remember all your dreams. We got ya covered.
        </div>
        <div class="login-form">
            <form [formGroup]="loginForm" (ngSubmit)="signIn()">
                <h1>Welcome back!</h1>
                <span>Please login to your account</span>
                <div class="login-form__input">
                    <ion-input maxlength="35" type="email" placeholder="Email or username"></ion-input>
                </div>
                <div class="login-form__input">
                    <ion-input maxlength="30" type="{{inputType}}" placeholder="Password"></ion-input>
                    <ion-icon (click)="onSwitchInputType()" name="{{inputType === 'password' ? 'eye-off' : 'eye'}}"></ion-icon>
                </div>
                <p routerLink="/auth/sign-up">I don't have a account</p>
            </form>
        </div>

        <ion-button class="custom-btn login-btn" (click)="signIn()">
            Login
        </ion-button>

        <div class="white-half"></div>
    </div>
</ion-content>
