.editor-wrapper {
  --padding-bottom: 15vw;
  overflow: scroll;
  .editor-toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 5vw;
    ion-button {
      color: #2F80ED;
      font-family: 'OpenSans', sans-serif;
      font-size: 3.5vw;
      font-weight: bold;
    }
  }
  p {
    padding: 0 5vw;
    font-family: 'OpenSans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #828282;
  }
  .footer-actions {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: fixed;
    bottom: 0;
    height: 15vw;
    background-color: #37568F;
    padding: 0 5vw;
    width: 100%;
    .divider-line {
      background-color: rgba(255, 255, 255, 0.4);
      height: 60%;
      width: 1px;
      margin-right: 5vw;
    }
    ion-icon {
      font-size: 6vw;
      margin-right: 5vw;
    }
    .text-icon {
      font-size: 4.5vw;
    }
  }
}