<div class="editor-wrapper">
    <div class="editor-toolbar">
        <ion-icon (click)="onSaveDraft()" class="close-button" name="close-outline"></ion-icon>
        <ion-button (click)="onSave()" fill="clear">Save</ion-button>
    </div>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque eos nihil praesentium ratione. Adipisci alias
        asperiores autem consequuntur dolorum esse eum facilis fuga, ipsa minus nam nostrum, numquam possimus qui
        ratione reprehenderit sapiente tempore ullam veritatis voluptatibus. Accusamus aliquid consequuntur cum dolore
        dolorem doloremque, et eum id in inventore ipsa iusto labore, laborum libero magnam minus modi nihil nobis
        numquam optio pariatur praesentium quibusdam quis reprehenderit sapiente velit voluptatem. Asperiores cumque
        facere iste magni quos vitae voluptas? Ab autem dolore dolorem earum eius exercitationem possimus quisquam sequi
        tempore unde! Accusantium aspernatur assumenda at consectetur dolore ducimus eligendi esse excepturi fuga hic
        ipsa iste optio pariatur perferendis perspiciatis placeat, quasi quibusdam rerum sapiente tempora? Labore nemo
        nihil, recusandae reprehenderit sapiente tempore temporibus! Adipisci aspernatur assumenda atque autem beatae
        commodi dolorum facere harum, repellendus sunt voluptate voluptatibus voluptatum. Adipisci at culpa cum,
        debitis, deserunt doloribus dolorum iste magni, nihil optio quidem reiciendis rem tempore tenetur veritatis.
        Aspernatur consequuntur eaque et fuga harum illo perferendis quas quidem? Ad amet aspernatur consectetur dolorem
        ea eveniet facere fuga, ipsum iusto maiores modi praesentium quae quia repellendus sapiente sequi tempora
        voluptas voluptates. Aliquam cupiditate laudantium modi nam possimus quasi soluta! Accusamus incidunt magnam
        mollitia quam sequi?</p>
    <div class="footer-actions">
        <ion-icon src="assets/icons/camera.svg"></ion-icon>
        <ion-icon style="font-size: 5.5vw" src="assets/icons/gallery.svg"></ion-icon>
        <div class="divider-line"></div>
        <ion-icon class="text-icon" src="assets/icons/bold.svg"></ion-icon>
        <ion-icon class="text-icon" src="assets/icons/cursive.svg"></ion-icon>
        <ion-icon class="text-icon" src="assets/icons/underline.svg"></ion-icon>
        <ion-icon class="text-icon" src="assets/icons/link.svg"></ion-icon>
    </div>
</div>